<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347635731363-sph80rbf2o65pv3lpcv121diuf9jdths.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347635731363-sph80rbf2o65pv3lpcv121diuf9jdths</string>
	<key>API_KEY</key>
	<string>AIzaSyBGBW1I7hAOJ3E-InR-xDcHid6Qh7IKg7U</string>
	<key>GCM_SENDER_ID</key>
	<string>347635731363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.Garment</string>
	<key>PROJECT_ID</key>
	<string>garment-f9468</string>
	<key>STORAGE_BUCKET</key>
	<string>garment-f9468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347635731363:ios:130e8439443f059412a816</string>
</dict>
</plist>